<!DOCTYPE html>
<html lang="pt">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create</title>
</head>

<body>

{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{# Adds date-picker required JS and CSS #}

	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		{{ form.media }}
		<input type="submit" value="Submit">

		{% if event %}
		<a href="{% url 'delete' event.id %}">
			Deletar
		</a>
		{% endif %}
	</form>

</body>

</html>